html {
    font: 14px arial, sans-serif;
    height: 100%;
    -ms-overflow-style: none;
    min-width: 280px;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100%;
}

.app {
    position: relative;
    background-image: url("./assets/bg-texture.png");
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(-45deg, #6989c6, #5c76bf, #9085c4, #4aaf82);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

.emoji {
    margin-top: 4px;
    width: 40px;
    height: 40px;
}

.description {
    max-width: 200px;
}

a:link {
    color: #6ea3ff;
}

.above-all {
    z-index: 10;
}

.hidden-scroll {
    overflow: hidden;
}

.show-small-screen {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .show-small-screen {
        display: initial !important;
    }
}
